/*Style for general paragraph style*/
p{
    color:darkblue;
    font-size:18px;
}

h1{
    font-size:26px;
    font-weight:bold;
    text-decoration:underline;
    text-align:center;
}

h2{
    font-size:22px;
    font-weight:bold;
    text-align:center;
}

/*Style for all tables within the page*/
table,td,th{
    border-style:solid;
    border-width:2px;
    border-color:#0044cc;
    border-collapse: collapse;
    text-align:center;
}

/*style for special paragraph that will only present once */
p#special{
    font-weight:bold;
    font-style:italic;
}

/*style for special italic paragraph*/
.italic{
    font-style:italic;
}

/*style for image size*/
img.logo{
    height:72px;
    width:267px;
}

