{% extends "base.html" %}

{% block page_title %} Contact Me{% endblock %}
{% block page_head %} Contact Me{% endblock %}

{% block page_content %}

    <!--Display information user entered -->
{% if form_submitted %}
    <div class="col-12">
        <h2>Thank you for completing my form!</h2>
    </div>
    <div class="mb-3">
        <p>First Name:</p>
    </div>
    <div class="mb-3">
        <p>{{ request.form.get('first_name')}}</p>
    </div>
    <div class="mb-3">
        <p>Last Name:</p>
    </div>
    <div class="mb-3">
        <p>{{ request.form.get('last_name')}}</p>
    </div>
    <div class="mb-3">
        <p>Email:</p>
    </div>
    <div class="mb-3">
        <p>{{ request.form.get('email')}}</p>
    </div>
    <div class="mb-3">
        <p>Message:</p>
    </div>
    <div class="mb-3">
        <p>{{ request.form.get('message')}}</p>
    </div>
<!-- Allow users to resubmit the form-->
<p><a href="{{ url_for('contact') }}">Complete Form Again</a></p>

{% else %}

    <!--Ask the user to fill in the contact me form -->
<form action="{{ url_for('contact')}}" method="post">
  <div class="mb-3">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <input type="text" class="form-control" id="message" name="message">
  </div>
  <div>
     <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endif %}
</div>

{% endblock %}

</body>
</html>